body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section[ref="searchRef"] {
  background: linear-gradient(to bottom, #00b8d4, #0052cc);
  padding: 20px 0;
  height: 100vh;
}

section[ref="searchRef"] {
  background: #00b8d4;
  padding: 20px 0;
  height: 100vh;
}

h1, button {
  font-family: 'Roboto', sans-serif;
}
